* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #1ebfc1;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    border-radius: 14px;
    background: var(--primary);
    font-weight: 600;
    font-size: 1.8rem;
    padding: 0 41px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.heading {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.desc {
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}
/* Header */
.header {
    background: #ffffff;
}

.header .body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 15px;
}

.header.fixed {
    position: sticky;
    z-index: 1;
    top: -35px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 8px 21px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
}

.navbar a.click,
.navbar a:hover {
    /* font-weight: 600; */
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

/* Action */
.header .sign-up {
    width: 108px;
    height: 48px;
    padding: 12px 23px;
    border: 1px solid var(--primary);
    border-radius: 6px;
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    color: var(--primary);
}

.header .sign-in {
    margin-right: 24px;
    font-size: 1.6rem;
    text-align: center;
    color: #494949;
}
/* Hero */
.hero {
    background: #ffffff;
}

.hero .body {
    display: flex;
    padding: 44px 0 79px;
    justify-content: space-between;
}

.hero-content {
    margin-top: 93px;
    width: 458px;
}

.hero-content .note {
    font-size: 1.4rem;
    color: #767e7e;
}

.hero-content .heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero-content .desc {
    margin-top: 46px;
    width: 374px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero-content .group-action a {
    margin-top: 52px;
    text-align: center;
}

.hero-content .play {
    margin-left: 50px;
    width: 62px;
    height: 62px;
    background: #ffffff;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.hero-right {
    position: relative;
    width: 50%;
    height: 631px;
}

.hero-right .hero {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero-right .title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    color: #0d1111;
}
/* Item 1 */
.hero-right .item1 {
    position: absolute;
    top: 149px;
    left: -40px;
    width: 157px;
    height: 75px;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero-right .content {
    display: flex;
    align-items: center;
    padding: 17px 25px 18px;
}

.hero-right .content img {
    margin-right: 16px;
}

.hero-right .content::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 28px;
    height: 4px;
    bottom: 26px;
    left: 29px;
    background: #ffffff;
    border-radius: 4px;
}

/* Item 2 */
.hero-right .item2 {
    position: absolute;
    width: 124px;
    height: 132px;
    bottom: 46px;
    left: -65px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero-right .content2 {
    text-align: center;
    padding: 16px 25px 23px;
}

.content2 .process {
    margin-top: 10px;
}

.content2 .process img:nth-child(4) {
    margin-top: 15px;
}

/* Item 3 */
.hero-right .item3 {
    position: absolute;
    width: 207px;
    height: 90px;
    right: 45px;
    bottom: 41px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero-right .content3 {
    padding: 17px 35px;
}

.content3 .group-avatar {
    display: flex;
    margin-top: 8px;
}

.content3 .avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    background: var(--primary);
    color: #ffffff;
}

.content3 .avatar:first-child {
    margin-left: 0;
}

/* Features */
.features {
    padding: 130px 0 0;
}

.features .title {
    width: 50%;
}

.features .title .note {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.features .title .heading {
    margin-top: 18px;
}

.features .title .desc {
    margin-top: 18px;
    font-size: 18px;
}

.features .list-item {
    display: flex;
    justify-content: space-between;
    gap: 0 250px;
    margin-top: 80px;
}

.features .item {
    width: 33.33%;
}

.features .item .title {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    color: #0d1111;
}

.features .item .desc {
    margin-top: 16px;
}

/* Popular */
.popular {
    padding: 130px 0 0;
}

/* Popular-top */
.popular .popular-top .note {
    font-weight: 700;
    font-size: 1.2rem;
    color: #767e7e;
}

.popular-top .heading {
    margin-top: 18px;
}

.popular-top .desc {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-top .desc p {
    width: 45%;
    font-size: 1.8rem;
    line-height: 1.78;
}

.popular-top .desc a {
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.popular-top .list-item {
    display: flex;
    margin-top: 79px;
    gap: 0 47px;
}

.popular-top .list-item img {
    width: 359px;
    height: 393px;
    object-fit: cover;
    background: #d0efed;
    border-radius: 8px;
}

.popular-top .list-item .item {
    position: relative;
}
.popular-top .list-item img:hover {
    opacity: 0.35;
}

.popular-top .list-item .content {
    position: absolute;
    top: 322px;
    left: 17px;
    padding: 18px 82px 29px 25px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.popular-top .list-item .content .title {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}

.popular-top .list-item .content .free {
    margin: 16px 0 6px;
    font-size: 1.6rem;
    color: #767e7e;
}

.popular-top .list-item .content span {
    font-weight: 700;
    color: #0d1111;
}

.popular-top .list-item .content .desc,
.popular-top .list-item .content .number {
    font-size: 1.4rem;
    color: #9da6a5;
}

.popular-top .list-item .content .number {
    display: flex;
    gap: 0 10px;
    margin-top: 18px;
}

.popular-top .list-item .content .value {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.popular-top .list-item .content .value::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

/* Popular-bottom */
.popular-bottom {
    margin-top: 389px;
}

.popular-bottom .list-item {
    display: flex;
    gap: 0 200px;
    text-align: center;
    justify-content: center;
}

.popular-bottom .item .value {
    font-weight: 700;
    font-size: 6.2rem;
    color: #0d1111;
}

.popular-bottom .item .desc {
    margin-top: 11px;
    font-size: 1.8rem;
    color: #767e7e;
}

/* Feedback */
.feedback {
    padding: 264px 0 130px;
}

.feedback .content {
    display: flex;
}

.feedback .info {
    width: 36%;
    margin-top: 37px;
}

.feedback .info .desc {
    margin-top: 27px;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}

.feedback .info .name {
    display: flex;
    align-items: center;
    gap: 0 5px;
    margin-top: 33px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #767e7e;
}

.feedback .info .name::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 2px;
    background: #070707;
}

.feedback .info .name strong {
    font-weight: 500;
    font-size: 1.6rem;
    color: #070707;
}

.feedback .info .control {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 0 30px;
    margin-top: 52px;
}

.feedback .info .control .next {
    display: flex;
    align-items: center;
    margin-bottom: 37px;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    background: #2ac9bf;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.feedback .info .control .next:hover {
    cursor: pointer;
}

.feedback .group-avatar {
    position: relative;
    margin-left: 72px;
    width: 58%;
}

.feedback .group-avatar .avatar {
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .group-avatar .avatar:nth-child(1) {
    left: 144px;
    width: 92px;
    height: 92px;
}

.feedback .group-avatar .avatar:nth-child(2) {
    top: 9px;
    right: 0;
    width: 110px;
    height: 110px;
}

.feedback .group-avatar .avatar:nth-child(3) {
    top: 107px;
    right: 171px;
    width: 235px;
    height: 235px;
}

.feedback .group-avatar .avatar:nth-child(n + 4) {
    width: 78px;
    height: 78px;
}

.feedback .group-avatar .avatar:nth-child(4) {
    left: 0;
    bottom: 145px;
}

.feedback .group-avatar .avatar:nth-child(5) {
    bottom: 0;
    left: 212px;
}

.feedback .group-avatar .avatar:nth-child(6) {
    right: 32px;
    bottom: 29px;
}
